<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!--
		Allows to inspect and change the configuration through JMX at runtime,
		for example, using JConsole.
	-->
	<jmxConfigurator />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="debug">
		<appender-ref ref="STDOUT"/>
	</root>

	<!-- Disable debugging messages for certain dependencies -->
	<logger name="java.sql" level="WARN"/>
	<logger name="org.hibernate" level="WARN"/>
	<logger name="org.hibernate.engine.jdbc.connections.internal.DriverManagerConnectionProviderImpl" level="ERROR"/>
	<logger name="org.apache" level="WARN"/>
	<logger name="org.jboss" level="WARN"/>
	<logger name="ucar.nc2" level="WARN"/>
	<logger name="ch.qos.logback" level="WARN"/>

</configuration>
